body {
    background-color: #DADADA;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    padding: 20px;
    width: 450px;
    text-align: center;
}

.ui.message.error {
    text-align: left;
}

@media screen and (max-width: 500px) {

    body {
        justify-content: normal;
        align-items: normal;
    }

    main {
        width: 100%;
    }

}